---
import type { PageProps } from "./Navbar.astro";

const pages = await Astro.glob<PageProps>("../pages/**/*.astro");

const pagesInFooter = pages
  .filter((page) => page?.metadata?.footer)
  .map((page) => ({
    url: page.metadata?.footer?.url || page.url,
    label: page.metadata?.footer?.label || page.url,
    weight: page.metadata?.footer?.weight,
  }))
  .sort((a, b) => a.weight - b.weight);
---

<div class="w-full text-white bg-black py-20"></div>
